@font-face {
  font-family: 'apartados'; 
  src: url('../src/Letras/apartados.ttf') format('truetype'); 
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}


